.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 50%;
    min-height: 50%
}
.inline-text h1,h2,h3,h4,h5,h6 {
  display: inline;
}
tr,th {
  text-align: center;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
i {
  cursor: pointer;
}